[submodule "repo/plugin.video.sbsondemand"]
	path = repo/plugin.video.sbsondemand
	url = https://github.com/andrewleech/plugin.video.sbsondemand.git
[submodule "repo/script.module.pyopenssl"]
	path = repo/script.module.pyopenssl
	url = https://github.com/andrewleech/script.module.pyopenssl.git
[submodule "repo/script.module.requests"]
	path = repo/script.module.requests
	url = https://github.com/beenje/script.module.requests.git
[submodule "repo/skin.corona"]
	path = repo/skin.corona
	url = https://github.com/andrewleech/skin.corona.git
[submodule "repo/plugin.video.netflixbmc"]
	path = repo/plugin.video.netflixbmc
	url = https://github.com/andrewleech/plugin.video.netflixbmc.git
[submodule "repo/plugin.program.chrome.launcher"]
	path = repo/plugin.program.chrome.launcher
	url = https://github.com/andrewleech/plugin.program.chrome.launcher.git
[submodule "repo/repository.alelec"]
	path = repo/repository.alelec
        branch = master
	url = https://github.com/andrewleech/repository.alelec.git
